body {
    padding-top: 25px;
    background-color: #00c4de;
    font-size: 1.25em;
}
button:focus, input:focus {
    outline: none;
}
#Result {
	display: none;
	height: 90%;
    padding: 10px;
    border: 2px solid #a52a2a;
    margin-top: 40px;
    background-color: #deb887;
}
@media only screen and (min-width: 768px) {
	#Result{
		display: block;
		height: auto;
	}
}
#Buttons {
    clear: both;
    position: relative;
    top: 20px;
}
#Buttons button {
    height: 40px;
	width: 150px;
    border-radius: 5px;
}
#Roll {
	position: relative;
    border-color: #a52a2a;
    background-color: #deb887;
	left: 100%;
	margin-left: -145px;
}
#Clear {
    border-color: #7a1f1f;
    background-color: #a52a2a;
	margin-left: -5px;
}
.total {
    overflow-x: visible;
    font-size: 0.8em;
}
.resultImage {
    margin: 10px;
}
.input {
    height: 30px;
    width: 100px;
    background-color: #0f4dde;
    border: 1px solid #000000;
    border-radius: 15px;
    position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 0.8em;
}
.plus, .minus {
	color: #ddddff;
	height: 28px;
	width: 28px;
    border: 1px solid #000000;
    border-radius: 14px;
    background-color: #0f4dde;
    position: relative;
}
.plus {
    border-right: none;
    float: right;
}
.minus {
    border-left: none;
    float: left;
}
.minus:active, .plus:active {
    background-color: #0c3aa7;
}
.number {
	color: #ddddff;
    width: 35px;
	height: 20px;
    position: relative;
    left: 3px;
	top: 2px;
    text-align: center;
    background-color: #0f4dde;
    border: none;
}
.dice img {
	position: relative;
	left: 50%;
	margin-left: -50px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
header {
    position: relative;
	text-align: center;
}