body {
    padding-top: 25px;
    background-color: #708090;
    font-size: 1.25em;
}
button:focus, input:focus {
    outline: none;
}
#Result {
    width: 80%;
    padding: 10px;
    position: relative;
    left: 10%;
    border: 2px solid #a52a2a;
    margin-left: -12px;
    margin-top: 40px;
    background-color: #deb887;
}
#Buttons {
    clear: both;
    position: relative;
    top: 20px;
    left: 50%;
    margin-left: -60px;
}
#Buttons > button {
    width: 120px;
    height: 30px;
    border-color: #8c8c8c;
    background-color: #bfbfbf;
    border-radius: 5px;
}
#Clear {
    display: none;
}
.die {
    display: inline-block;
    float: left;
}
.add {
    position: relative;
    bottom: 50px;
    right: 5px;
}
.total {
    overflow-x: visible;
    font-size: 0.8em;
}
.individual {
    position: relative;
    right: 65px;
    top: 5px;
    font-size: 0.75em;
}
.resultImage {
    margin: 10px;
}
.input {
    height: 23px;
    width: 90px;
    background-color: #f5f5dc;
    border: 1px solid #808080;
    border-radius: 11px;
    position: relative;
    left: 5px;
}
.plus, .minus {
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #808080;
    border-radius: 11px;
    background-color: #f5f5dc;
    position: relative;
}
.plus {
    padding-left: 7px;
    padding-right: 7px;
    border-right: none;
    float: right;
}
.minus {
    padding-left: 8px;
    padding-right: 9px;
    border-left: none;
    float: left;
}
.minus:active, .plus:active {
    background-color: #a9a9a9;
}
#DiceBar > div {
    display: inline-block;
    margin-right: 25px;
}
#DiceBar {
    position: relative;
    left: 50%;
    margin-left: -375px;
}
.number {
    width: 35px;
    position: relative;
    left: 5px;
    bottom: 1px;
    text-align: center;
    background-color: #f5f5dc;
    border: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
header {
    position: relative;
    left: 50%;
    margin-left: -125px;
}